.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.contacts {
  padding: 1em;
}

.contact {
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  height: max-content;
  padding: 1em;
}

.contacts:hover {
  color: blue;
}